.mobile-menu {
  background-color: $color-primery-dark;
  box-shadow: 0 0 10px $color-decor-light;
  padding: 45px 70px 45px 100px;
  z-index: 100;
  text-align: center;
  position: absolute;
  left: -40px;
  top: 1px;
  transition: all ease 0.3s;
  font-size: 18px;

  &__btn {
    display: none;
    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
  }

  &__line {
    width: 40px;
    height: 2px;
    background-color: $color-primery-light;
  }

  &__categories-item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__categories-link {
    transition: color 0.3s;
    &:hover {
      color: $color-decor-light;
    }
  }
}

.mobile-menu--hidden {
  transform: translateX(-200%);
}
