.reservation-button {
  margin-left: 10px;
  padding: 20px 85px;
  @media (max-width: 1080px) {
      // font-size: 16px;
      padding: 14px 40px;
    }
    @media (max-width: 880px) {
      // font-size: 18px;
      padding: 16px 56px;
      margin-left: 0;
    }
    @media (max-width: 500px) {
      // font-size: 14px;
     padding: 16px 52px;
    }
}