.decor {
  background-color: $color-primery-light;
  background-image: url(https://github.com/boginskajaanna/petprojectRestaurant/blob/main/images/bcg-after-feedback-section.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
}
