.reservation {
  padding: 140px 220px;
  background-image: url(../images/reservation-bcg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1280px) {
    padding: 140px 110px;
  }
  @media (max-width: 880px) {
    padding: 100px 70px;
  }
  @media (max-width: 600px) {
    padding: 60px 20px;
  }
  @media (max-width: 480px) {
    padding: 30px 10px;
  }
  @media (max-width: 400px) {
    padding: 30px 0;
  }

  &__inner {
    text-align: center;
    padding: 140px 140px 20px;
    background-color: rgba($color-primery-dark, 0.9);
    @media (max-width: 800px) {
      padding: 60px 60px 20px;
    }
    @media (max-width: 480px) {
      padding: 30px 30px 20px;
    }
    @media (max-width: 400px) {
      padding: 30px 20px;
    }
  }

  &__title {
    @extend %uppercase-title-font;
    color: $color-primery-light;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-title {
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    color: $color-primery-light;
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    margin-bottom: 38px;
    @media (max-width: 980px) {
      font-size: 34px;
      line-height: 44px;
    }
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }

  &__form-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 26px;
  }

  &__form-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    margin-bottom: 30px;
  }

  &__form-input {
    position: relative;
    color: $color-primery-light;
    background-color: transparent;
    border: 1px solid $color-decor-dark;
    border-radius: 5px;
    padding: 18px 23px;
    height: 55px;
    color: $color-primery-light;
    width: 100%;
    &::placeholder {
      position: absolute;
      color: $color-menu-decor;
      font-size: 18px;
      font-weight: 400;
      line-height: 33px;
      @media (max-width: 640px) {
        font-size: 14px;
        line-height: 20px;
      }

      @media (max-width: 470px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

  }

  &__form-input-name,
  &__form-input-email {
    flex-grow: 1;
  }

  &__form-input-persons,
  &__form-input-time,
  &__form-input-date {
    // width: 33.3%;
    flex-grow: 1;
  }

  &__form-btn {
    color: $color-primery-light;
    display: inline-block;
    padding: 14px 54px;
    margin-bottom: 10px;
  }
}

#reservationSuccessMessage {
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
  padding: 10px;
  color: $color-primery-light;
  @media (max-width: 800px) {
    font-size: 12px;
  }
}

#reservationSuccessMessage.show {
  opacity: 1;
  visibility: visible;
}

//----------

.flatpickr-calendar.open {
  border-radius: inherit;
}

.flatpickr-input {
  height: 55px;
  width: 100%;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container .flatpickr-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 23px;
  pointer-events: none;
  // transition: opacity 0.2s ease-out;
  color: $color-menu-decor;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (max-width: 470px) {
    font-size: 12px;
    line-height: 16px;
  }
}

// .input-container input:focus + .flatpickr-placeholder {
//   opacity: 0;
// }

// .input-container input:active + .flatpickr-placeholder {
//   opacity: 0;
// }

.flatpickr-placeholder {
  opacity: 1;
}

.placeholder-hide {
  opacity: 0;
}