.services {
  padding: 140px 0;
  color: $color-primery-light;
  @media (max-width: 480px) {
      padding: 60px 0;
    }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 930px) {
      flex-wrap: wrap;
    }
    @media (max-width: 480px) {
      text-align: center;
    }
  }

  &__info {
    width: 100%;
    margin-right: 30px;
    @media (max-width: 930px) {
      margin-bottom: 30px;
    }
    @media (max-width: 930px) {
     margin-right: 0;
    }
  }

  &__title {
    @extend %uppercase-title-font;
    color: $color-primery-light;
  }

  &__main-title {
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    color: $color-primery-light;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 12px;
    @media (max-width: 980px) {
      font-size: 34px;
      line-height: 44px;
    }
  }

  &__descr {
    margin-bottom: 12px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: 768px) {
      gap: 25px;
      // max-width: 100%;
    }
    @media (max-width: 650px) {
      gap: 20px;
    }
     @media (max-width: 480px) {
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }

  &__list-item {
    // width: 60%;
    padding: 42px 40px;
    text-align: center;
    border: 20px solid $color-feedback-bcg;
    @media (max-width: 768px) {
      padding: 20px 20px;
      border: 15px solid $color-feedback-bcg;
    }
    @media (max-width: 550px) {
      padding: 16px 16px;
      border: 12px solid $color-feedback-bcg;
    }
    @media (max-width: 460px) {
      padding: 20px 20px;
      border: 15px solid $color-feedback-bcg;
    }
  }

  &__list-item-img{
    @media (max-width: 550px) {
width: 36px;    }
  }

  &__list-item-info {
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    color: $color-primery-light;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.2px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 15px;
    @media (max-width: 1000px) {
      font-size: 24px;
      line-height: 32px;
    }
    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 26px;
      margin-top: 0;
    }
    @media (max-width: 470px) {
      font-size: 18px;
      line-height: 24px;
    }
    @media (max-width: 400px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
